*{
    margin: 0;
    padding: 0;
}

html, body {
    overflow-y: hidden;
}

.bg{
    position: relative;
    background: #000 url('../images/bgforcar.jpg');
    height:120vh;
    background-repeat: repeat-x;
    background-size: cover;
    background-position: 0 0;
    overflow: hidden;
    animation: animate 20s  linear infinite;
    animation-delay: 1s;
}
.car{
    position: absolute;
    bottom: 20px;
    left: 100px;
}
@keyframes animate{
    from{
background-position: 0 0;
    }
    to{
background-position: 100% 0;
    }
}